html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 73% 'Trebuchet MS', Arial, Tahoma, Helvetica, sans-serif;
  background: #f8f3ec center repeat-y;
  color: #666;
}

#cabecalho {
  height: 130px;
  padding-top: 0;
  color: #333;
  display: flex;
  font-weight: bold;
  background-color: #f8f3ec;
}

#container {
  width: 750px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

.banner {
  clear: both;
  width: 100%;
  height: 150px;
  margin: 0;
  padding-bottom: 0;
  background: #fff url(../images/banner.jpg) no-repeat;
  color: #fff;
}

.dica_cabecalho {
  margin: 0 240px 40px 0;
  padding: 10px;
  line-height: 2em;
  background: #fff;
  color: #666;
}

article p {
  text-align: center;
  margin: 0 0 1em 2em;
  margin-top: 20px;
}

article h2 {
  background: inherit;
  color: #b48565;
  text-align: center;
}

section h2 {
  background: inherit;
  color: #b48565;
  text-align: center;
}

.dica_cabecalho h3 {
  margin: 0 0 1em 2em;
  letter-spacing: 2px;
  font-size: 90%;
  background: inherit;
  color: #666;
  line-height: 2em;
}

blockquote {
  padding: 10px;
  margin: 0 20px;
  font-weight: bold;
  border: 1px solid #b07e13;
  font-style: italic;
  color: #b29b35;
}

.sidebar {
  float: right;
  width: 205px;
  height: 2145px;
  margin: 0;
  line-height: 1.5em;
  background-color: #f8f3ec;
}

.propaganda {
  margin: 5px 5px 15px 5px;
  padding: 5px;
}

.rodape {
  width: 545px;
  height: 210px;
  background: #b48565;
  color: #333;

}

.rodape a:link,
.rodape a:visited {
  text-decoration: underline;
  background: inherit;
  color: #333;
}

.coluna1,
.coluna_central {
  float: left;
  width: 29%;
  margin-left: 20px;
}



a img {
  border: 0;
}

a:link,
a:visited {
  text-decoration: none;
  background: inherit;
  color: #87452b;
}

.rodape li {
  margin: 0 15px 0 0;
  padding: 2px;
  font-size: 110%;
  background: inherit;
  color: #d5d9b4;
}

.conteudo2 p {
  padding: 0 0 0.2em 1em;
  text-align: center;
}

section p {
  padding: 0 0 0.2em 1em;
}

.caixa2 {
  margin: 5px 5px 15px 5px;
  padding: 5px;
}

.navegacao {
  width: 100%;
  position: relative;
  margin: 0 0 0 0;
  padding: 0;
}

#menu {
  width: 100%;
  float: left;
  margin: 0;
  font: bold 90% 'lucida sans', Helvetica, 'Trebuchet MS', arial, sans-serif;
  border-top: 3px solid;
  border-bottom: 3px solid;
  color: #b48565;
}

#menu a {
  text-align: left;
  display: block;
  border: 0px solid #8b795e;
  white-space: nowrap;
  margin: 0;
  padding: 0.5em 0.3em 0.5em 1em;
}

#menu a,
#menu a:visited {
  color: #fff;
  background: #b48565;
  text-decoration: none;
}

#menu a:hover {
  color: #000;
  background: #666;
}

#menu a.nav_itens,
#menu a.nav_itens:hover {
  text-transform: uppercase;
  background-image: url(../images/setinha.png);
  background-position: right center;
  background-repeat: no-repeat;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 150px;
}

#menu li {
  position: relative;
}

#menu ul ul {
  position: absolute;
  z-index: 500;
  top: auto;
  display: none;
  padding: 1em;
  margin: -1em 0 0 -1em;
}

#menu ul ul ul {
  top: 0;
  left: 100%;
}

.parcerias img {
  margin-top: 5px;
  margin: 0 auto;
  display: flex;
}

img {
  border: 0;
}

p {
  max-width: 500px;
  line-height: 2em;
  text-align: justify;
}

#logo1{
  list-style-image:url(../images/whatsapp.png); 
}

#logo2{
  list-style-image:url(../images/facebook.png); 
}

#logo3{
  list-style-image:url(../images/instagram.png); 
}